
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}



.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;

    padding: 40px;
}

.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-align: center;
}



.center-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
}

.center-box {
    width: 220px;
    height: 120px;
    background-color: royalblue;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}