/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#fff;
    color:#222;
}

/* Navbar */

.navbar{
    padding:18px 0;
}

.navbar-brand{
    font-size:30px;
    font-weight:700;
}

.nav-link{
    margin:0 10px;
    color:#555 !important;
    font-weight:500;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#0d6efd !important;
}

.btn-primary{
    padding:10px 28px;
    border-radius:8px;
    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
}

/* Hero */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:65px;
    font-weight:700;
}

.hero h4{
    color:#666;
    margin-top:15px;
    margin-bottom:30px;
}

/* Section */

section{
    padding:100px 0;
}

section h2{
    font-size:42px;
    font-weight:700;
    margin-bottom:25px;
}

section p{
    color:#666;
    line-height:1.8;
}

/* Skills */

.card{
    border:none;
    border-radius:15px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.1);
}

.card i{
    font-size:55px;
    color:#0d6efd;
}

.card h3{
    margin-top:20px;
    font-weight:600;
}

/* Project Cards */

.card img{
    border-radius:15px 15px 0 0;
    height:250px;
    object-fit:cover;
}

.badge{
    margin-right:8px;
    padding:8px 14px;
    font-weight:500;
}

/* Footer */

footer{
    background:#232323;
}

footer h3{
    font-weight:700;
}

footer p{
    color:#ccc;
}

/* Responsive */

@media(max-width:992px){

.hero h1{
    font-size:50px;
}

}

@media(max-width:768px){

.hero{
    height:70vh;
}

.hero h1{
    font-size:38px;
}

.hero h4{
    font-size:20px;
}

section{
    padding:70px 0;
}

section h2{
    font-size:34px;
}

#about p{
    width:100% !important;
}

.navbar-nav{
    text-align:center;
    margin:20px 0;
}

.btn-primary{
    display:block;
    width:fit-content;
    margin:auto;
}

}

@media(max-width:576px){

.hero h1{
    font-size:32px;
}

.hero h4{
    font-size:18px;
}

.card img{
    height:200px;
}

}